@font-face {
  font-family: "Avalon";
  src: url(images/Avalon.ttf) format("ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav .tab-1 {
  display: none;
}

nav img {
  height: 45px;
  padding: 10px 15px;
  width: 105px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.tab-2 ul .extra-a,
.tab-2 ul .extra-b {
  display: flex;
}

/*************** First three images Section ******************/

.grid-box-main {
  position: relative;
}

.img-grad-a {
  background: linear-gradient(to top, rgba(0,0,0,.2), rgba(255, 99, 71, 0.5)) no-repeat;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
}

.images-a {
  position: relative;
}

.bigLogo{
  height: 200px; 
  width: 100px;
  position: absolute;
  padding: 30px 18px;
  background: purple;
  border: 1px solid green;
}

.bigText-desk {
  font-size: 100%;
}

/*************** Latest News Section ******************/

.latest-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

/************* Latest Funding Rounds Section ************/

.funding-rounds h2 {
  float: left;
}

.funding-firstLines p {
  float: right;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-right: 15px;
}

.funding-firstLines .fund-addInfo {
  border-right: 1px solid #ff4422;
}

.funding-firstLines .fund-seeMore {
  border-right: transparent;
  padding-left: 15px;
}

.funding-grid {
  clear: both;
}

/***************** Articles with Lists section ******************/

.articles-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bigText-desk  {
  color: white;
  font-size: 40px;
  margin-top: -10px;
}

.big-side-a {
  margin-top: 70px;
}

.big-side-b {
  margin-top: 40px;
}