body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav img {
  display: none;
}

nav .tab-1 {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.tab-1 .news {
  margin-left: 5px;
}

nav .tab-1 .tab-a,
nav .tab-2 {
  padding-left: 0;
  margin-left: 0;
}

nav .tab-2 {
  margin-top: 30px;
}

.grid-box-main .logo-B {
  display: block;
  width: 350px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 10px;
  z-index: 1;
}

.grid-box-main .date {
  display: block;
  color: #fff;
  font-weight: 200;
  top: 5px;
  right: 20px;
  position: absolute;
  font-size: 14px;
  font-family: "ARS Maquette", sans-serif, 'Times New Roman', Times, serif;
  z-index: 1;
}

.tab-2 ul .extra-a,
.tab-2 ul .extra-b {
  display: flex;
}

/*************** First three images Section ******************/

.img-flex-container {
  margin: 5px 5px 0 5px;
}

.grid-box-main {
  position: relative;
}

.grid-box-main,
.grid-side-box-a {
  margin-top: 85px;
}

.images-a {
  position: relative;
}

.images-a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,rgba(0,0,0,1),rgba(246,36,89,.5)) no-repeat;
}

.big-side-b {
  margin-top: 40px;
}

/*************** Latest News Section ******************/

.latest-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

/************* Latest Funding Rounds Section ************/

.fund-h2 {
  float: left;
  margin-bottom: 0;
}

.funding-firstLines p {
  float: right;
  margin: 28px 15px 30px 0;
}

.funding-firstLines .fund-addInfo {
  border-right: 1px solid #f42;
}

.funding-firstLines .fund-seeMore {
  border-right: transparent;
  padding-left: 15px;
}

.funding-grid {
  clear: both;
}

/***************** Articles with Lists section ******************/

.articles-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
