body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab-1, 
.tab-2,
.grid-box-main .logo-B,
.grid-box-main .date {
  display: none;
}

.mob {
  display: flex;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 2;
}

.mob ul {
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
}

nav img {
  height: 15px; 
  width: 75px;
  background: #000;
  padding: 15px 18px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.search-logo {
  box-sizing: border-box;
  font-size: 16px;
  border-right: 1px solid lightgray;
  padding: 14px;
  color: gray;
  display: block;
}

.search-logo:hover {
  color: #575757;
  cursor: pointer;
}

.ham-logo {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  color: #ff4422;
  border-left: 1px solid lightgray;
  padding: 12px;
  display: block;
}

/*************** First three images Section ******************/

.img-flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.images-a, .images-b, .images-c {
  position: relative;
}

.images-a:hover, .images-b:hover, .images-c:hover {
  cursor: pointer;
}

.images-a::after,
.images-b::after,
.images-c::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,.1)) no-repeat;
}

.img-flex-container a {
  text-decoration: none;
}

.img-fle-item {
  padding: 10px 10px 0 10px;
  color: #ff4422;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-fle-item img {
  display: block;
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.img-fle-text {
  position: absolute;
  margin-right: 10px;
  margin-left: 10px;
}
  
.big-text {
  font-size: 19px;
  font-family: "Avalon", sans-serif, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #fff;
}

.img-fle-text .para-bottom {
  font-family: "ARS Maquette", sans-serif, 'Times New Roman', Times, serif;
  margin-top: -5px;
  font-size: 12px;
  color: #ffffff99;
  overflow: hidden;
}

.img-author:hover {
  color: #fff;
}

.img-fle-text .img-icons {
  font-size: 16px; 
  vertical-align: middle;
  color: hsla(0,0%,100%,.6);
  margin-top: 0;
}

.big-side-a {
  margin-bottom: 15px;
}

/*************** Latest News Section ******************/

.latest-news-flex {
  display: flex;
  align-items: flex-start;
}

.latest a {
  text-decoration: none;
}

.latest-h2 h2:hover {
  color: #000;
}

.latest h2 {
  font-family: "Avalon", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #ff4422;
  padding-right: 0;
}

.latest-section i {
  margin-left: 5px;
}

.latest-news-flex {
  margin-bottom: 20px;
}

.latest-news-flex img {
  display: block;
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

.news-para {
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.latest-title {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: bolder;
}

.latest-title:hover {
  color: #ff4422;
}

.latest-author a,
.latest-author {
  font-size: 12px;
  color: #aaa;
  font-weight: 100;
  margin-top: 5px;
}

.latest-author a:hover {
  color: #555;
}

.latest, .funding-rounds, .articles-lists, .latest-deals {
  margin: 40px 20px;
}

/************* Latest Funding Rounds Section ************/

.fund-h2, .news-section h2 {
  font-family: "Avalon", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.fund-h2:hover {
  color: #000;
}

.funding-rounds a, .news-section a {
  text-decoration: none;
  color: #ff4422;
}

.funding-rounds i, .news-section i {
  margin-left: 10px;
}

.funding-firstLines {
  margin-top: 15px;
  margin-bottom: 30px;
}

.funding-firstLines a {
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.funding-firstLines a:hover {
  color: #000;
}

.funding-box img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.fund-redTop {
  background: #ff4422;
  color: #fff;
  margin: 10px 0 0 0;
  padding: 10px;
  height: 22px;
}

.fund-redTop h4 {
  margin-left: 75px;
  margin-top: 2px;
  font-size: 18px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fund-lightRed {
  background: rgba(255, 68, 34, .08);
  font-weight: bolder;
  margin: -18px 0 10px 0;
  height: 75px;
}

.lightRed-text {
  padding-top: 10px;
  margin-left: 85px;
}

.lightRed-boldText {
  font-size: 18px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.lightRed-greyText {
  font-weight: normal;
  color: gray;
  font-family: Shentox, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  margin-top: -15px;
}

.funding-icons {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255,68,34,.25);
}

.funding-icons p:hover {
  color: #000;
}

.funding-icons, .funding-lastLine {
  margin-left: 15px;
  margin-right: 15px;
}

.funding-icons i {
  font-size: 18px;
  margin-top: 0;
  color: #000;
}

.funding-icons p {
  font-size: 12px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
}

.funding-icons span {
  margin-bottom: -20px;
}

.funding-line {
  border: 1px solid #ff4422;
}

.funding-lastLine {
  font-size: 12px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
  margin-bottom: 20px;
}

.funding-lastLine span {
  color: #aaa;
}

/***************** Articles with Lists section ******************/

.news-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.news-gradient {
  position: relative;
}

.news-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,.1)) no-repeat;
}

.news-section h2 a:hover {
  color: #000;
}

.news-section img {
  width: 100%;
  object-fit: cover;
}

.news-section .news-img-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.text-c a:hover {
  color: #fff;
}

.text-a {
  font-size: 14px;
  font-family: "Shentox", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-b a {
  display: block;
  font-size: 20px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  margin-top: -10px;
}

.text-b a:hover {
  text-decoration: underline;
}

.text-c {
  display: block;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: gray;
  margin-top: -10px;
}

.text-c a {
  color: gray;
}

.text-c a:hover {
  color: #fff;
}

.news-desc {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 68, 34, .08);
  margin: 2px 0 10px 0;
  padding: 0;
}

.text {
  color: #ff4422;
  margin: 10px 10px 0 15px;
  padding: 0;
}

.text span {
  font-family: Shentox, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
}

.text p {
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: .5px;
}

.text p:hover {
  text-decoration: underline;
}

.news-desc .text-img img {
  object-fit: cover;
  width: 96px;
  height: 96px;
  padding: 0;
  margin: 0;
}

.list-items li {
  color: #ff4422;
  font-size: smaller;
  margin-left: -25px;
  border-bottom: .05em solid lightgray;
}

.list-items a {
  font-size: 13px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
  line-height: 1.4em;
}

.list-items a:hover {
  color: #000;
}

/**************** Latest Deals Section ******************/

.latest-deals {
  margin-bottom: 100px;
}

.deals-h2 a:hover,
.deals-h2, 
.see-allDeals a:hover {
  color: #000;
}

.deals-h2, .see-allDeals {
  box-sizing: border-box;
}

.deals-h2 a, .see-allDeals a {
  text-decoration: none;
  color: #ff4422;
}

.see-allDeals {
  float: right;
  margin-top: -40px;
  margin-right: 15px;
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.costs {
  margin-top: -15px;
}

.deals-para {
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deals-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  color: #000;
  font-size: 14px;
}

.deals-title:hover {
  color: #ff4422;
}

.deals-lastCost {
  font-size: 12px;
  text-decoration-line: line-through;
}

.deals-newCost {
  font-size: 14px;
  color: #555;
}

/**************** Footer ******************/

.footer-top {
  margin: 40px 0 0 0;
  padding: 20px 30px;
  background: #131313;
}

.footer-flex-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0 -5px;
}

.social-icon ion-icon {
  color: #fff;
  width: 16px;
  height: 16px;
  padding: 10px;
  background: #303030;
  border: 2px solid #303030;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon ion-icon:hover {
  background: #1c1c1c;
}

.footer-aboutList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0 30px 0;
}

.footer-aboutList li {
  margin-left: 5px;
}

.footer-events {
  margin-left: -20px;
}

.footer-aboutList a {
  text-decoration: none;
  color: #aaa;
  font-family: "Shentox", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.footer-aboutList li a:hover {
  color: #fff;
}

.footer-bottom {
  background: #000;
  color: #aaa;
  margin: -5px 0 0 0;
  padding: 20px 30px;
}

.footer-bottom p {
  font-family: "ARS Maquette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-align: center;
}

.footer-logo {
  width: 37px;
  height: 9px;
}

.footer-stack {
  width: 65.25px;
  height: 9px;
}