@font-face {
    font-family: "Avalon";
    src: url(images/Avalon.ttf) format("ttf");
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > .mob,
main,
footer {
    display: none;
}
nav > .tab-1 {
    display: inline-block;
    background-color: #131313;
    width : 100%;
    height:40px;
}
nav > .tab-1 {
    display: flex;
    justify-content: flex-start;
    list-style: none;   
}

nav > .tab-2 {
    display: flex;
    justify-content: start;
    border: 1px solid red;
    height:45px;
}

nav > .tab-2 > ul {
    display: flex;
    justify-content: flex-start;
}

nav > .tab-2 > ul >li {
    display: flex;
 margin-left: 20px; 
}

nav > .tab-1 > .tab-a,
nav > .tab-1 > .tab-b,
nav > .tab-2 > ul {
    display: flex;
}

nav > .tab-1 > .tab-b {
    margin-left: auto;
}

nav > .tab-1 > .tab-a li,
nav > .tab-1 > .tab-b li{
    margin-left: 10px;
    list-style: none;
}

nav > .tab-1 > .tab-b .contact{
margin-right: 8px;
}

nav > .tab-1  a,
nav > .tab-2  a{
    text-decoration: none;
    color: hsla(0,0%,100%,.6);
}

nav > .tab-2  a {
    color : gray;
}